<div class="row" >
    <div class="col-6 m-auto">
        <div class="card m-auto">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form #loginForm='ngForm' (ngSubmit)="onLogin(loginForm)">
                    <div class="form-group col-12">
                        <label for="userName">Name</label>
                        <input type="text" class="form-control" ngModel name="userName">
                    </div>
        
                    <div class="form-group col-12">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" ngModel name="password">
                   </div>
                  
                   <div class="form-group col-12">
                      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary m-3">Save</button>
                      <button type="reset" class="btn btn-primary">Cancel</button>
                    </div>
                </form>
           
            </div>
        </div>
    </div>
    
</div>

